:root {
  --surface-a: rgb(255, 255, 255);
  --surface-b: #fafafa;
  --surface-c: rgba(0, 0, 0, 0.04);
  --surface-d: rgba(0, 0, 0, 0.12);
  --surface-border: #dfe7ef;

  /* Bootstrap */
  --primary-color: #1d71b8;
  --primary-active: #16568c;
  --primary-hover: #16568c;
  --success-color: #5cb85c;
  --info-color: #5bc0de;
  --warning-color: #f0ad4e;
  --danger-color: #d9534f;

  /* Azuis */
  --dark-blue: #074d87;
  --main-blue: #1d71b8;
  --medium-blue: #1184b8;
  --light-blue: #009ee0;

  /* Grisis */
  --light-gray: #ddd;
  --medium-gray: #666;
  --dark-gray: #19242f;

  /* Fuente */
  --text-color: #444444;
  --text-color-secondary: #787878;

  --font-family: Roboto, sans-serif;
  --font-size: 14px;
  --font-size-small: 0.991rem;

  --content-padding: 1rem;
  --inline-spacing: 0.5rem;
  --border-radius: 0.375rem;

  --header-height-min: 35px;
  --header-height: 55px;
  --footer-height: 50px;
  --sidbar-width: 240px;

  --maskbg: rgba(0, 0, 0, 0.4);

  --error: rgb(176, 0, 32);
  --focus-ring: 0 0 0 0.2rem rgba(29, 113, 255, 0.5);
  --background-primary-color: rgba(29, 113, 255, 0.16);

  --wizard-stepper--active: #68cf79;
  --wizard-stepper--active-font: Roboto, sans-serif;
  --wizard-line-color: #19242f;
  --wizard-circle-color: #7e7e7e;
  --wizard-stepper--disabled: #787878;
  --wizard-stepper--disabled-font: #16568c;
  --circle-size: 10rem !important;

  --color-required: #ffffd3;
  --warning-blond: #c5690ba1;
}
